@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #191716;
    --text-color: #F2F2F2;
    --primary-color: #3FA34D;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Archivo", sans-serif;
  min-height: 100vh;
}
a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
}
a:hover {
  color: var(--primary-color);
}